body {
    background-image: url(./black-gold.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    
}

.page-awal {
    height: 300px;
    display: flex;
    justify-content: center;
    column-gap: 20px;

}

.images {
    display: flex;
    justify-content: center;
    width: 100%;
}
.nama {
    width: 100%;
    font-size: larger;
    font-family: monospace;
    color: black;
}

.desc {
    color: black;
    width: 100%;   
}

.sosmed {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}
